.header{
  width:190px;
  height:140px;
  background: linear-gradient(to bottom, var(--col-theme_bg-400),var(--col-theme_bg-500));
  border-radius: 15px;
  &__count{
    display: inline-flex;
    min-height:40px;
    min-width: 40px;

    border-radius: 50%;
    background: linear-gradient(to bottom, var(--col-theme_bg-300),var(--col-theme_bg-500));
  }
}

.order-status{
  min-width: 260px;
  margin-bottom: 15px;
  display: inline-block;
}

table {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: #777;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}

mat-icon {
  cursor: pointer;
}
.payment-success{
  color:#339900;
}
.payment-pending{
  color:#FF9966;
}

