// $primary: (
//     50 : #fffefe,
//     100 : #fffdfd,
//     200 : #fffcfc,
//     300 : #fefbfa,
//     400 : #fefaf9,
//     500 : #fef9f8,
//     600 : #fef8f7,
//     700 : #fef7f6,
//     800 : #fef6f5,
//     900 : #fdf5f3,
//     A100 : #ffffff,
//     A200 : #ffffff,
//     A400 : #ffffff,
//     A700 : #ffffff,
//     contrast: (
//         50 : #000000,
//         100 : #000000,
//         200 : #000000,
//         300 : #000000,
//         400 : #000000,
//         500 : #000000,
//         600 : #000000,
//         700 : #000000,
//         800 : #000000,
//         900 : #000000,
//         A100 : #000000,
//         A200 : #000000,
//         A400 : #000000,
//         A700 : #000000,
//     )
// );

// $dark: (
//     50 : #e2e2e2,
//     100 : #b6b6b6,
//     200 : #868686,
//     300 : #565656,
//     400 : #313131,
//     500 : #0d0d0d,
//     600 : #0b0b0b,
//     700 : #090909,
//     800 : #070707,
//     900 : #030303,
//     A100 : #a6a6a6,
//     A200 : #8c8c8c,
//     A400 : #737373,
//     A700 : #666666,
//     contrast: (
//         50 : #000000,
//         100 : #000000,
//         200 : #000000,
//         300 : #ffffff,
//         400 : #ffffff,
//         500 : #ffffff,
//         600 : #ffffff,
//         700 : #ffffff,
//         800 : #ffffff,
//         900 : #ffffff,
//         A100 : #000000,
//         A200 : #000000,
//         A400 : #ffffff,
//         A700 : #ffffff,
//     )
// );

// $warn: (
//     50 : #fdf2ee,
//     100 : #faded5,
//     200 : #f7c9b9,
//     300 : #f4b39d,
//     400 : #f1a288,
//     500 : #ef9273,
//     600 : #ed8a6b,
//     700 : #eb7f60,
//     800 : #e87556,
//     900 : #e46343,
//     A100 : #ffffff,
//     A200 : #ffffff,
//     A400 : #ffd9d0,
//     A700 : #ffc4b7,
//     contrast: (
//         50 : #000000,
//         100 : #000000,
//         200 : #000000,
//         300 : #000000,
//         400 : #000000,
//         500 : #000000,
//         600 : #000000,
//         700 : #000000,
//         800 : #000000,
//         900 : #000000,
//         A100 : #000000,
//         A200 : #000000,
//         A400 : #000000,
//         A700 : #000000,
//     )
// );
// /* For use in src/lib/core/theming/_palette.scss */
$primary: (
    50 : #fffefe,
    100 : #fffdfd,
    200 : #fffcfc,
    300 : #fefbfa,
    400 : #fefaf9,
    500 : #fef9f8,
    600 : #fef8f7,
    700 : #fef7f6,
    800 : #fef6f5,
    900 : #fdf5f3,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
$theme_bg: (
    50 : #e5e6e8,
    100 : #bdc1c5,
    200 : #91979f,
    300 : #656d78,
    400 : #444e5b,
    500 : #232f3e,
    600 : #1f2a38,
    700 : #1a2330,
    800 : #151d28,
    900 : #0c121b,
    A100 : #5d98ff,
    A200 : #2a77ff,
    A400 : #0059f6,
    A700 : #0050dc,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$accent: (
    50 : #e5f4ea,
    100 : #bee3cc,
    200 : #93d0aa,
    300 : #67bd87,
    400 : #47ae6e,
    500 : #26a054,
    600 : #22984d,
    700 : #1c8e43,
    800 : #17843a,
    900 : #0d7329,
    A100 : #a6ffba,
    A200 : #73ff93,
    A400 : #40ff6c,
    A700 : #26ff58,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$warn: (
    50 : #f9e0e0,
    100 : #f0b3b3,
    200 : #e68080,
    300 : #db4d4d,
    400 : #d42626,
    500 : #cc0000,
    600 : #c70000,
    700 : #c00000,
    800 : #b90000,
    900 : #ad0000,
    A100 : #ffd7d7,
    A200 : #ffa4a4,
    A400 : #ff7171,
    A700 : #ff5858,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

