.tac{
  text-align:center;
}
.tal{
  text-align:left;;
}
.tar{
  text-align: right;
}
.taj{
  text-align: justify;
}
.white{
  color: #fff;
}
.black{
  color: #000;
}
.black-bg{
  background-color: #000;
}
.text-color{
  color:#212121;
}
.ov-auto{
  overflow: auto;
}
.cur-point{
  cursor: pointer;
}
